/* Login.css */

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh; /* Adjust the height based on your requirements */
  background-color: #EAF4FF; 
}


.img-lg img {
  max-width: 250px;
  width: 350px;
  margin: 0 auto;
  align-items: center;
}

.login-container {
    margin-top: 10%;
    margin: 50px;
    padding: 15px;
    padding-top: 40px;
    min-height: 350px;
    width: 500px;
    border: 1px solid #ffffff;
    border-radius: 15px;
    background-color: #ffffff;
    text-align: center;
  }

  .bold-paragraph {
    font-weight: bold;
    font-size: 18px;
   
  }

  .bold-paragraph1 {
    font-size: 18px;
    color: #cccccc;
  }
  
  .input-container {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .input-container input {
    width: 95%;
    padding: 12px;
    border: 3px solid #ccc;
    border-radius: 12px;
    font-size: medium;
  }
  
  .remember-me {
    display: flex;
    padding-left: 20px;
    /* font-family: 'Times New Roman', Times, serif; */
    align-items: left;
    margin-bottom: 10px;
    
  }

  .rm-gap{
    padding-left: 10px;
    font-weight: bold;
  }
  
  .forgot-password{ 
    padding-left: 165px;
    align-items: right;
    margin-bottom: 10px;
    color: #4898ee;
  }

  .form-row {
    display: flex;
    margin-bottom: 10px;
    align-items: center; /* Align items vertically in the middle */
    justify-content: space-between; /* Add space between the two elements */
  }

 
  .login-button {
    background-color: #47A2FF;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px;
    cursor: pointer;
    width: 95%;
    margin-bottom: 20px;
    font-size: large;
  }
  
  .no-account a {
    color: #4898ee;
    margin-bottom: 20px;
  }
  