.wrapper{
    height: 100vh;
    background-image: url('/src/assets/background.jpg');
    background-size: cover;
}

.forgot-password-fp {
    width: 480px;
    padding: 20px;
    height: min-content;
    border-radius: 5px;
    color: balck;
}

.heading{
    font-size: 17px; 
    margin-bottom: 50px;
    font-weight: bold;
}

.btn-fp{
    background-color: #47A2FF;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
   
}

.form-control{
    width: 100%;
    padding: 12px;
    margin-bottom: 40px;
    border: 3px solid #ccc;
    border-radius: 12px;
    font-size: medium;
}