.wrapper{
    height: 100vh;
    background-image: url('/src/assets/background.jpg');
    background-size: cover;
}

.forgot-password {
    width: 500px;
    padding: 20px;
    height: min-content;
    border-radius: 5px;
    color: balck;
}

.heading{
    font-size: '1px'; 
    font-weight: bold;
}

.btn-continue{
    color: white;
    font-weight: bold;
}

.invalid-feedback{
    color: rgb(224, 49, 18);
    font-size: 13px;
    text-align: right;
}