.wrapper{
    height: 100vh;
    background-image: url('/src/assets/background.jpg');
    background-size: cover;
}

.reset-password {
    width: 470px;
    padding: 20px;
    height: min-content;
    border-radius: 5px;
    color: balck;
}

.heading{
    font-size: '2px'; 
    font-weight: 6px;
    margin-left: 5px;
}

.btn-create{
    color: white;
    font-weight: bold;
}

.invalid-feedback{
    color: rgb(180, 180, 40);
    font-size: 13px;
    text-align: right;
}

.btn-rp{
    background-color: #47A2FF;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.password-toggle-icon1{
        position: absolute;
        left: 950px; 
        top: 42%;
        cursor: pointer;
}

.password-toggle-icon2{
    position: absolute;
    left: 950px; 
    top: 55%;
    cursor: pointer;
}
