.wrapper{
    height: 100vh;
    background-image: url('/src/assets/background.jpg');
    background-size: cover;
}

.reset-password {
    width: 500px;
    padding: 20px;
    height: min-content;
    border-radius: 5px;
    color: balck;
}

.heading{
    font-size: '1px'; 
    font-weight: bold;
}

.btn-create{
    color: white;
    font-weight: bold;
}

.invalid-feedback{
    color: rgb(180, 180, 40);
    font-size: 13px;
    text-align: right;
}