/* right side */
body{
    margin: 0;
    padding: 0;
      box-sizing: border-box;
      background-color: white;
     
}

.wrapper-sp{
    position: relative;
    display: flex; 
    width: 100%;
    height: 100vh;

}


/*.signup-image{
    width: 50%;
    height: 100; 
    object-fit: cover;
}*/
.right-corner{
    background-color: white;
    width: 50%; /* Adjust the width to take up half of the available space */
    text-align: center;
    padding: 20px;
}
.signup-box{
    justify-content: center;
    margin: auto;
    width: 500px;
    height: 620px;
    border-radius: 3px;
    background-color: white;
    /* padding-left: 20px; */
    border-radius: 15px;
}
.header{
text-align: center;
justify-content: center;
color: #20b6ed;
padding-top: 10px;
}


.input-label label{
    display:block;
    padding-top: 20px;
    font-weight: bold;    
}



.input-label input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 12px;
    
}
.accounts-type{
    margin-top: 10px; 
    font-weight: bold;
    
    
}
.accounts-type label{
    padding-right: 35px;
}
.all-terms{
    margin-top: 10px;
    font-weight: bold;
}

.all-terms label{
    margin-left: 15px;
    font-weight: bold;
}

.btn{
    margin-top: 20px;
    justify-content: center;
    background-color: #47A2FF;
    color: aliceblue;
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    
  
}

.signup-link{
    margin-top: 20px;
    text-align: center;}

/* left side */

.left-corner {
    background-color: #E3EEFF;
    width: 50%; /* Adjust the width to take up half of the available space */
    text-align: center;
    padding: 20px; 
}
  
.edu-image1 img {
    max-width: 100%;
    height: auto;
}
  
.main-description {
    color:#031F4B;
    font-size: 26px;
    font-weight: bold;
}

.middle-image{
    max-width: 100%;
}
  
.other-description {
    color: #04396C;
    font-size: 20px;
    font-weight: bold;
}

.open-inverted{
    text-align-last: left;
    width: auto;
}

.close-inverted{
    text-align-last: right;
}

